@model Foody.Services.Models.Articles.AllArticlesForApprovalViewModel

@{
    ViewData["Title"] = "Articles for approval";
}

<h2 class="text-center">Articles for approval</h2>
@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="text-center text-danger">@Model.ErrorMessage</div>
}
<hr class="hr-2" />
<table class="table">
    <thead class="">
    <tr class="row ">
        <th class="col-6 border-top-0">Title</th>
        <th class="col-2 border-top-0">Author</th>
        <th class="col-2 border-top-0">Posted On</th>
        <th class="col-2 border-top-0">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var article in Model.Items)
    {
        <tr class="row">
            <th class="col-6 font-weight-normal">@article.Title</th>
            <th class="col-2 font-weight-normal">@article.Author</th>
            <th class="col-2 font-weight-normal">@article.PostedOn.ToString("g")</th>
            <th class="col-2 font-weight-normal">
                <form asp-action="OpenForApproval" asp-controller="Articles" asp-area="Administration" method="post">
                    <div class="justify-content-center">
                        <input name="articleId" type="hidden" value="@article.ArticleId" />
                        <input name="currentPage" type="hidden" value="@Model.PaginationModel.CurrentPage" />
                        <button type="submit" class="btn btn-success">Open</button>
                    </div>
                </form>
            </th>
        </tr>
    }
    </tbody>
</table>
<partial name="_PaginationPartial" model="Model.PaginationModel"/>
<hr class="hr-2" />
