@using Microsoft.AspNetCore.Routing
@model Foody.Services.DataServices.Models.Articles.ArticleForApprovalViewModel

@{
    ViewData["Title"] = "OpenForApproval";
}

<div class="container">
    <h2>@Model.Title</h2>


    <p class="lead">
        by <a href="#">@Model.Author</a>
    </p>

    <hr class="hr-2" />


    <p><span class="glyphicon glyphicon-time"></span> Posted on: @Model.PostedOn.ToString("g")</p>

    <hr class="hr-2" />
    <div class="row">
        <img src="/Images/Get/location?location=@Model.ImageLocation" class="img-responsive center-block" alt="image not available">
    </div>
    <hr class="hr-2" />

    <p >@Model.Content</p>

    <hr class="hr-2" />

    <div class="container-fluid">
        <div class="col-md-offset-3 col-md-6">
            <form method="post" asp-action="Approve" asp-controller="Articles" asp-area="Administration">
                <input name="articleId" type="hidden" value="@Model.Id" />
                <div class="text-center form-group col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-success form-control">Approve</button>
                </div>
            </form>
        </div>
    </div>

    <hr class="hr-2" />

    <div class="container-fluid">
        <div class="col-md-offset-3 col-md-6">
            <form method="post" asp-action="Reject" asp-controller="Articles" asp-area="Administration">
                <input name="articleId" type="hidden" value="@Model.Id" />
                <div class="form-group text-center">
                    <textarea class="form-control" rows="2" name="rejectComment" placeholder="Enter your reject comment here..."></textarea>
                </div>
                <div class="text-center form-group col-md-4 col-md-offset-4">
                    <button type="submit" class="btn btn-danger form-control">Reject</button>
                </div>
            </form>
        </div>
    </div>

    <hr class="hr-2" />
    <div class="row">
        <a href="/Administration/Articles/Articles_Awaiting_Approval?currentPage=@(Model.CurrentPage)&initialOpen=false" class="btn btn-danger col-md-offset-5 col-sm-2" role="button">Back</a>
    </div>
</div>

