@model Foody.Services.Models.Shared.PaginationModel

<nav class="text-center">
    <ul class="pagination">
        @if (Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="@Model.PageLink?currentPage=@(Model.CurrentPage-1)&initialOpen=false">Previous</a>
            </li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active">
                    <a class="page-link" href="@Model.PageLink?currentPage=@i&initialOpen=false">@i <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="@Model.PageLink?currentPage=@i&initialOpen=false">@i</a></li>
            }
        }
        @if (Model.CurrentPage == Model.TotalPages)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="@Model.PageLink?currentPage=@(Model.CurrentPage+1)&initialOpen=false">Next</a>
            </li>
        }
    </ul>
</nav>